/* ===============
	RESET
=============== */

/**
  A very simple reset that sits on top of Normalize.css.
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
fieldset,
legend,
figure,
hr {
  margin: 0;
  padding: 0;
}

/**
  Remove trailing margins from nested lists.
*/

li > {
  ul,
  ol {
    margin-bottom: 0;
  }
}

/**
  Remove default table spacing.
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(190, 190, 190);
  min-width: 600px;
}
tr,
td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 4px 8px;
}
tr,td {
  padding: 10px;
  text-align: center;
  background-color: white;
}
th {
  text-align: center;
  background-color: rgb(173, 213, 254);
}
td:not(:first-child) {
  text-align: left;
}