/* ===============
	ANIMATION
=============== */

.o-opacity {
  animation-duration: 0.7s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  animation-name: opacity;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// -------------------------------------------------iframe
#iframeURL,
#iframeWidth,
#iframeHeight {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: inset 0px 0px 3px black;
  padding-left: 5px;
}
#iframeURL {
  width: 300px;
  height: 30px;
}
#iframeWidth,
#iframeHeight {
  width: 150px;
  height: 30px;
}
.phone {
  border: 40px solid #ddd;
  border-width: 55px 7px;
  width: 400px;
  border-radius: 40px;
  margin: 50px auto;
  overflow: hidden;
  transition: all 0.5s ease;
}

.phone iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
/*Different Perspectives*/

.phone.view_1 {
  height: 710px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 3px 0 #bbb, 0px 4px 0 #bbb, 0px 5px 0 #bbb, 0px 7px 0 #bbb,
    0px 10px 20px #666;
}
.phone.view_2 {
  transform: rotateX(0deg) rotateY(-60deg) rotateZ(0deg);
  height: 710px;
  box-shadow: 5px 1px 0 #bbb, 9px 2px 0 #bbb, 12px 3px 0 #bbb, 15px 4px 0 #bbb,
    0 7px 20px #999;
}
.phone.view_3 {
  transform: rotateX(50deg) rotateY(0deg) rotateZ(-50deg);
  height: 710px;
  box-shadow: -3px 3px 0 #bbb, -6px 6px 0 #bbb, -9px 9px 0 #bbb,
    -12px 12px 0 #bbb, -14px 10px 20px #666;
}
/*Controls*/
#wrapper {
  margin-bottom: 100px;
}
#controls {
  font-size: 0.9em;
  color: #333;
}

#controls div {
  margin: 10px;
}

#controls div label {
  width: 120px;
  display: block;
}

#views {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

#views button {
  width: 198px;
  border: none;
  background-color: rgb(212, 212, 212);
  height: 40px;
  margin: 10px 0;
  color: #444;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#views button:hover {
  color: #444;
  background-color: #fae100;
}

@media (max-width: 900px) {
  #wrapper {
    transform: scale(0.8, 0.8);
  }
}

@media (max-width: 700px) {
  #wrapper {
    transform: scale(0.6, 0.6);
  }
}

@media (max-width: 500px) {
  #wrapper {
    transform: scale(0.4, 0.4);
  }
}
