/* ===============
	CODE
=============== */
@import url('//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

code {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  font-family: 'IBM Plex Mono', 'D2Coding', monospace !important;
  font-size: 15px;
  color: white;
  // background-color: rgba(0, 0, 0, 0.55);
}

p code,
li code {
  padding: 3px 5px;
}
